<div class="modal-container">
	<mat-dialog-content class="modal-content">
		<button mat-icon-button class="close-button" (click)="closeDialog()">
			<mat-icon>close</mat-icon>
		</button>
		<h2>Create New Note</h2>
		<form>
			<div class="row">
				<!-- <mat-form-field> -->
				<div class="mb-3 my-3">
					<input class="form-control" name="noteTitle" placeholder="Title" [(ngModel)]="noteTitle">

				</div> <!-- </mat-form-field> -->
				<!-- <mat-form-field> -->
				<div class="mb-3 my-3">
					<textarea class="form-control" name="noteDescription" placeholder="Description"
						[(ngModel)]="noteDescription"></textarea>
				</div>
				<!-- </mat-form-field> -->

				<button mat-raised-button class="btn btn-dark" (click)="createNote()">Create Note</button>


			</div>
		</form>
	</mat-dialog-content>
</div>