<div class="container-fluid">
	<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
		<div class="row">
			<h2>Registeration</h2>

			<form class="mt-3" #registrationForm="ngForm" (ngSubmit)="onSubmit(registrationForm?.value)">
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">First Name</label>
					<input type="email" class="form-control" name="first_name" id="exampleInputEmail1"
						[(ngModel)]="userData.first_name" aria-describedby="emailHelp">
				</div>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Last Name</label>
					<input type="email" class="form-control" name="last_name" id="exampleInputEmail1"
						[(ngModel)]="userData.last_name" aria-describedby="emailHelp">
				</div>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Username</label>
					<input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="userData.username"
						aria-describedby="emailHelp" name="username">
				</div>
				<div class="mb-3">
					<label for="exampleInputPassword1" class="form-label">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1"
						[(ngModel)]="userData.password" name="password">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
				<div class="mt-3">
					<p>Already have an account? <a (click)="navigateToLogin()" style="color: blue;">Login here</a>
					</p>

				</div>
			</form>
		</div>
	</div>
</div>